* {
	margin: 0;
	padding: 0;
}

body {
	color: #fff;
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
}

#cabecera {
	background-color: #999;
	height: 200px;
	width: 960px;
}

#contenedor {
	margin: 0 auto;
	position: relative;
	text-align: left;
	width: 960px;
}

#contenido {
	background-color: #666;
	min-height: 500px;
	padding: 20px;
	width: 920px;
}

.nav ul {
	margin: 0;
	padding: 0;
}

.nav ul li {
	list-style: none;
}

.nav ul li a{
	background-color: #000;
	color: #fff;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
}

.nav ul li a:hover{
	background-color: #666;
}

.nav ul > li {
	float: left;
}

#pie {
	background-color: #333;
	height: 100px;
	width: 960px;
}